
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


div.main {
    background: #fff;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    padding: 15px 30px;
    width: 30vw;
    height: 70vh;
    margin-top: 7%;
    margin-right: 13%;
    margin-left: 40%;
    border-radius: 10px;
    border-width: 5px;
}

div.main img {
    margin-left: 105px;
}

div.main h4 {
    text-align: center;
}

div.main p {
    text-align: center;
    padding-top: 5px;
}

input[type="text"] {
    margin-top: 20px;
    width: 350px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-bottom: 7px;
    border-radius: 7px;
    border-color: gray;
    border-width: 1px;
    }

    a {
        text-decoration: none;
        margin-bottom: 10px;
        color: rgb(60, 60, 170);
    }
div.main p.computer {
    margin-top: 35px;
    font-size: 0.95rem;
    color: gray;
    margin-bottom: 4px;
}
    div.create {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;    
    } 

    .btn {
        width: 75px;
        color: white;
        background-color: rgb(91, 91, 202);
        border-radius: 6px;

    }

    div.language select {
        margin-left: 550px;
        margin-top: 8px;
        margin-right: 35px;
        background: none;
        padding: 8px;
        border: none;
        width: 215px;
        flex: 2;
    }

    div.language a {
        text-decoration: none;
        color: gray;
        margin-left: 4px;
    }

    div.language a.privacy, a.terms {
        flex: 2;
    }

    /*MEDIA QUERY*/
    /*Mobile*/
    @media only screen and (max-width: 575.98px) {
    body {
       max-width: 80vw;
    }
    
        div.main {
         width: 200vw;
         margin: 0;
         height: 100vh;
     }
    }